* {
  font-family: Arial;
}

.btn {
	font-size: 20px;
	width: 60px;
	margin-top: 0px;
  margin-right: 40px;
  background: blue;
  color: white;
  border-radius: 15px;
  text-shadow: 1px 1px #800080;
}

.navbar {
	font-size: 24px;
}

ul {
  width: 100%;
  background-color: #b3e6ff;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none !important;
  float: left;
  background-color: #b3e6ff;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #0088cc;
}

h1 h3 {
  margin-top: 100px;
}
